<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neusoft.mapper.UserMapper">
    <resultMap id="UserResult" type="edu.neusoft.domain.User">
        <id property="user_id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="usersex" column="usersex" />
        <result property="userphone" column="userphone" />
        <result property="userdate" column="userdate" />
        <result property="useraddress" column="useraddress" />
        <result property="useremail" column="useremail" />
    </resultMap>

    <select id="getAllUsers" resultMap="UserResult">
        select * from user
    </select>
    <select id="loginUser" resultMap="UserResult">
        select * from user where username=#{username}
    </select>

    <insert id="registUser" parameterType="edu.neusoft.domain.User">
        insert into user values (0,#{username},#{password},#{usersex},#{userphone},#{userdate},#{useraddress},#{useremail})
    </insert>

    <update id="updateUser" parameterType="edu.neusoft.domain.User">
        update user
            <set>
                username = #{username},
                password = #{password},
                usersex = #{usersex},
                userphone = #{userphone},
                userdate = #{userdate},
                useraddress = #{useraddress},
                useremail = #{useremail},
            </set>
        where user_id = #{user_id}
    </update>

    <delete id="deleteUser">
        delete from user where user_id = #{user_id}
    </delete>
</mapper>